:root {
  --note-bg-color: #FFF599 ; 
  --create-note-el-margin: 0px 20px;
  --note--header--size: 50px;
  --note--text--site: 16px;
  --note--border--radius: 20px;
  --bold--text: 600;
  --red: rgb(175, 9, 9);
}

body{
  background-color: #252525;
}

button{
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}


.App {
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.form_container {
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 800px;

  padding: 30px 50px;


}

.form_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}



.form_text{
  height: 500px;
  width: 100%;
  max-width: 800px;
}

form button{
  margin-top: 30px;
  margin-bottom: 30px;
}


/*  ----------------------------------------------- */

.no_notes{
  text-align: center;
}

.notes_container{
  display: grid;
  grid-gap: 50px;

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.note{
  font-size: 20px;
  min-height: 500px;
  padding: 20px 30px;
  border-radius: var(--note--border--radius);
  background-color: var(--note-bg-color);
  color: #000000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

}

.note_header{
  display: flex;
  justify-content: space-between;

  border-bottom: double;
}


.note .note_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top-style: double;
  padding: 10px 0px;
}

.note .note_footer .edit_note{
  width: 100px;
  height: 50px;

  font-size: 19px;
  font-weight: 600;

  border-radius: 10px;
}
.note .note_footer .delete_note{
  font-size: 25px;
  border: unset;
  background-color: unset;
  cursor: pointer;

  margin-right: 10px;
}
.note .note_footer .delete_note:hover{
  color: rgb(175, 9, 9);
}


.create_note_button_container{
  display: flex;
  justify-content: center;

  margin: 50px 0px;
}
.create_note_button{
  font-size: 30px;
  padding: 5px 10px;

  border-radius: 15px;
  cursor: pointer;
}
.create_note_button:hover{
  opacity: 0.8;
}

.create_note{
  max-width: 400px;
  display: none;
}
.create_note_active{
  display: block;
  position: fixed;
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.85);
  display:none;
  place-items:center;
  transition:var(--transition);
  z-index:100;
}

.create_note .close_btn_container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: var(--create-note-el-margin);
}
.create_note .close_btn_container button{
  font-size: 40px;
  font-weight: 500;
  background-color: unset;
  border: unset;
  color: #000000;
  cursor: pointer;
}
.create_note .close_btn_container button:hover{
  color: var(--red);
}

.create_note .text_container{
  margin: 50px 0px;
  margin: var(--create-note-el-margin);
}

.create_note textarea{
  width: 100%;
  overflow-y: scroll;
  resize: none;
  white-space: pre-wrap;

  font-size: 16px;
  background-color: var(--note-bg-color);
}

.create_note input {
  width: 100%;
  font-size: 24px;
  background-color: unset;
  border: unset;
  margin-bottom: 20px;

  background-color: var(--note-bg-color);
  color: #000000;
  font-size: var(--note--header--size);
  font-weight: var(--bold--text);

}

.create_note_footer{
  margin: var(--create-note-el-margin);

  display: flex;
  justify-content: end;
}
.create_note .save_note{
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;

}
.create_note .save_note:hover{
  opacity: 0.8;
}


/* EDIT MODAL ----------------------- */

.edit-modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.85);
  display:none;
  place-items:center;
  transition:var(--transition);
  z-index:100;
}

.edit-modal {
  display: block;
  position: fixed;
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--note-bg-color);
  color: #000000;
  border: 2px solid black;
  border-radius: var(--note--border--radius);
  padding: 20px 20px;
}

.modal_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_header button{
  font-size: 40px;
  font-weight: 500;
  background-color: unset;
  border: unset;
  color: #000000;

  cursor: pointer;
}
.modal_header button:hover{
  color: var(--red);
}

.edit-modal form{
  padding: 0;
}

.edit-modal form input {
  background-color: var(--note-bg-color);
  width: 100%;
  margin-bottom: 10px;
  font-size: var(--note--header--size);
  font-weight: var(--bold--text);

  
  
}
.edit-modal form textarea {
  background-color: var(--note-bg-color);
  font-size: var(--note--text--site);
  width: 100%;

  resize: none;
  
}

.edit-modal .save_note{
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}